* {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
  font-family: Amazon Ember Regular, Helvetica, Arial, sans-serif !important;
}

@font-face {
  font-family: "Amazon Ember Regular";
  src: url("../fonts/AmazonEmber_Rg.ttf");
}

@font-face {
  font-family: "Amazon Ember Light";
  src: url("../fonts/AmazonEmber_Lt.ttf");
}

@font-face {
  font-family: "Amazon Ember Medium";
  src: url("../fonts/Amazon-Ember-Medium.ttf");
}

body {
  background-color: #0c041c !important;
}

nav {
  box-shadow: 0 0 5px black;
}

.navbar {
  padding-left: 5rem !important;
  padding-right: 5rem;
}

#navbarNavDropdown {
  display: flex;
  justify-content: flex-end;
}

.navbar,
.juegos {
  padding-left: 0.3rem;
  background-color: #0c041c !important;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  align-items: center;
}

.nav-item.dropdown {
  display: flex;
  align-items: center;
  align-content: center;
  height: 40px;
}

.nav-link.dropdown-toggle {
  color: #c2bcd3 !important;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.navbar-nav .nav-link:hover {
  color: #b5b5b5;
}

#idioma {
  font-size: 16px;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/flecha_abajo.svg) no-repeat center;
  border-color: transparent;
  vertical-align: middle;
}

.dropdown-menu {
  background-color: #3d2e4b;
  color: aqua;
}

.dropdown-item {
  color: #b3aabd;

}

.iniciar {
  border: 1px solid #ffffff;
  font-size: 0.85rem !important;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.pruebaprime {
  color: #232f3e;
  font-size: 0.85rem !important;
  font-family: Amazon Ember Regular;
  border: 1px solid;
  margin-left: 15px;
  background-color: #1a98ff;
  border-color: #1a98ff;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.pruebaprime:hover {
  background-color: #5fb7ff;
  border-color: #239cff;
}

#pruebap {
  color: #232f3e;
}

.jumbotron-section {
  background-image: url('../images/banner_lol.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 34rem;
  max-width: 100rem;
  display: flex;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* background-image: linear-gradient(180deg,rgba(11,4,24,0) 90%,#0b0418); */
  box-shadow: inset 0 -50px 50px -10px #0b0418;
}

.lead,
.my-4 {
  color: white !important;
  padding: 0.2rem;
}

#propaganda {
  width: 300px;
  margin-top: 6.5rem;
  margin-left: 5rem;
}

.jumbotron .display-4,
#gratis,
#favoritos {
  color: white;
}

.jumbotron .display-4 {
  font-size: 1.75rem !important;
}

#gratis {
  font-size: 1rem;
  font-family: Amazon Ember Regular;
  font-weight: 600;
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
}

.jumbotron .lead {
  font-size: 1rem !important;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

.presentados {
  height: 6rem;
  width: 100%;
  position: relative;
  top: -4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.presentados img {
  height: 100%;
  opacity: 0.6;
}

.card {
  padding: 0px !important;
  max-width: 18vw;
  background-color: #1e182a;
  border-radius: 10px;
}

.card-img-wrap {
  display: flex;
  justify-content: center;
  height: 195px;
  border-radius: 10px 10px 0px 0px;
  overflow: clip;
}

.card .separador {
  background-color: #ffffff14;
  font-size: 0.75rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.card .separador p {
  font-family: Amazon Ember Light !important;
}

.card .separador p span {
  font-family: Amazon Ember Regular !important;
  color: white;
}

.card-body {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-text {
  margin: 0;
  border: 0;
  color: #c2bcd3;

}

.card-title {
  font-size: 1rem;
  font-family: Amazon Ember Regular !important;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 1rem;
}

.card img {
  object-fit: cover;
  transition: transform .2s ease-in;
}

.card img:hover {
  transform: scale(1.05);
}

.card .btn-primary {
  font-size: 14px;
  font-family: Amazon Ember Regular !important;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-primary {
  align-self: baseline !important;
  background-color: #9146ff;
  border: 0px;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.btn-primary:hover {
  background-color: #b27eff;
}

.jumbotron .btn-primary {
  font-size: 1rem;
}

#barra_busq {
  position: relative;
  top: -3rem;
  background-color: #0c041c !important;
  padding-left: 5rem !important;
  padding-right: 4rem;
}

#barra_busq .nav-link {
  color: #c2bcd3;
  font-family: "Amazon Ember Light" !important;
  font-size: 1.1rem;
  border-radius: 40px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: 0.1s background-color;
}

#barra_busq .nav-link:hover:not(.active) {
  background-color: #292334;
}

#barra_busq .nav-link.active {
  background-color: #3c3444;
  font-size: 1.1rem !important;
  font-family: Amazon Ember Medium !important;
  font-weight: 600 !important;
  border-radius: 40px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: white !important;
}

::placeholder {
  color: #c2bcd3af !important;
  font-size: 1.1rem;
}

.menu {
  color: #ffffff;
  padding: 1rem;
}

.barra {
  width: 450px !important;
  background-color: #0c041c;
  color: rgb(184, 157, 157);
  border-radius: 0px 60px 60px 0px;
  border-left: none;
}

.lupita {
  background-color: #0c041c;
  border-radius: 60px 0px 0px 60px;
  color: white;
  border-right: none;

}

.form-control::placeholder {
  color: rgb(255, 255, 255);
}

ul,
ol {
  text-decoration: none;
}

.lista_footer {

  font-size: 12px;
  display: flex;
  color: #544463;
}

.lista_footer>li>a {

  text-decoration: none;
  color: #9146ff !important;
  margin-right: 10px;
}

.logo_abajo {

  display: flex;
  justify-content: center;

}

.footer_medio {
  border-left: solid 1px;
  border-color: white;

}

.footer_derecha {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;

}

#favoritos {
  font-family: "Amazon Ember Light" !important;
  font-size: 1.3rem;
}

#favoritos span {
  font-family: "Amazon Ember Medium" !important;
}

#favoritos2 {
  color: white !important;
  margin: 0;
  padding: 1rem;
}

.Volver {
  background-color: #3d2e4b;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 0px;
}

.volve {
  background-color: #3d2e4b;
}

.volve a {
  text-decoration: none;
}

.juegos {
  margin-top: -1.5rem;
}

#ofertas {
  color: white !important;
  margin: 0;
  padding: 1rem;
}

.ofertas .card-text {
  padding-left: 30px;
}

.ofertas a {
  margin-left: 30px;
}